<div class="flex mx-auto bg-orange-50 m-2 p-8 drop-shadow-2xl rounded">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <h2 class="text-center text-xl text-orange-500
     bg-orange-200 p-3 font-semibold mb-3 rounded">Sign up</h2>

    <div class="field">
      <%= f.label :username, class: "text-orange-500" %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username", 
      class: "rounded form-input w-80 text-orange-600 border-orange-300
        shadow-sm border-orange-300 focus:outline-none focus:border-orange-300 focus:ring-1 focus:ring-orange-500" %>
    </div>

    <div class="field">
      <%= f.label :email, class: "text-orange-500" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", 
      class: "rounded form-input w-80 text-orange-600 border-orange-300
        shadow-sm border-orange-300 focus:outline-none focus:border-orange-300 focus:ring-1 focus:ring-orange-500" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "text-orange-500" %>
      <% if @minimum_password_length %>
      <em class="text-orange-700">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", 
      class: "rounded form-input w-80 text-orange-600 border-orange-300
        shadow-sm border-orange-300 focus:outline-none focus:border-orange-300 focus:ring-1 focus:ring-orange-500" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "text-orange-500" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", 
      class: "rounded form-input w-80 text-orange-600 border-orange-300
        shadow-sm border-orange-300 focus:outline-none focus:border-orange-300 focus:ring-1 focus:ring-orange-500" %>
    </div>

    <div class="actions my-3">
      <%= f.submit "Sign up", class: "text-white text-xl bg-orange-400 
        p-2 w-full rounded cursor-pointer font-bold
        hover:text-orange-50 hover:bg-orange-500" %>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>

</div>
